<div class="navbar navbar-default" role="navigation" ng-controller="navCtrl as ctrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Germantown Orthodontics</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a href ui-sref="home">Home</a></li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About the Office <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="about.meetTheDoc">Meet the Doctor</a></li>
                        <li ui-sref-active="active"><a href ui-sref="about.officeTour">Office Tour</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Patients <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="newPatients.expectations">What to Expect</a></li>
                        <li ui-sref-active="active"><a href ui-sref="newPatients.paymentInsurance">Payment &amp; Insurance</a></li>
                        <li ui-sref-active="active"><a href ui-sref="newPatients.forms">Forms</a></li>
                        <li ui-sref-active="active"><a href ui-sref="newPatients.referral">Referral Program</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orthodontics 101 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="ortho.servicesOffered">Services Offered</a></li>
                        <li ui-sref-active="active"><a href ui-sref="ortho.applianceCare">Appliance Care</a></li>
                        <li ui-sref-active="active"><a href ui-sref="ortho.faq">FAQ's</a></li>
                        <li ui-sref-active="active"><a href ui-sref="ortho.treatmentTiming">Timing of Treatment</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Kopicki Difference <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="difference.beforeAndAfter">Before &amp; After</a></li>
                        <li ui-sref-active="active"><a href ui-sref="difference.testimonials">Patient Testimonials</a></li>
                        <li ui-sref-active="active"><a href ui-sref="difference.setUsApart">What Sets Us Apart</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a href ui-sref="contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>