<!doctype html>
<html class="no-js" ng-app="gtoApp">
    <head>
        <meta charset="utf-8">
        <title>{{ $state.current.data.pageTitle + ' | Georgetown Orthodonitics' }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="header" ng-include="'./views/partials/nav.html'"></div>

        <div class="container">
            <ui-view></ui-view>
        </div>

        <div ng-include="'./views/partials/footer.html'"></div>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                        (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
            }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers/about/aboutController.js"></script>
        <script src="/scripts/controllers/about/meetTheDoctorController.js"></script>
        <script src="/scripts/controllers/about/officeTourController.js"></script>
        <script src="/scripts/controllers/contactController.js"></script>
        <script src="/scripts/controllers/difference/apartController.js"></script>
        <script src="/scripts/controllers/difference/beforeAfterController.js"></script>
        <script src="/scripts/controllers/difference/differenceController.js"></script>
        <script src="/scripts/controllers/difference/testimonialsController.js"></script>
        <script src="/scripts/controllers/homeController.js"></script>
        <script src="/scripts/controllers/orthodontics/applianceCareController.js"></script>
        <script src="/scripts/controllers/orthodontics/faqController.js"></script>
        <script src="/scripts/controllers/orthodontics/orthodonticsController.js"></script>
        <script src="/scripts/controllers/orthodontics/servicesController.js"></script>
        <script src="/scripts/controllers/orthodontics/timingController.js"></script>
        <script src="/scripts/controllers/patients/expectationsController.js"></script>
        <script src="/scripts/controllers/patients/formsController.js"></script>
        <script src="/scripts/controllers/patients/newPatientsController.js"></script>
        <script src="/scripts/controllers/patients/paymentsInsuranceController.js"></script>
        <script src="/scripts/controllers/patients/referralController.js"></script>
        <script src="/scripts/controllers/ui/footerController.js"></script>
        <script src="/scripts/controllers/ui/navController.js"></script>
        <!-- endbuild -->
    </body>
</html>
