// Custom Fonts
@font-face {
    font-family: 'proxima_novaregular';
    src: url('proximanova-reg-webfont.eot');
    src: url('proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-reg-webfont.woff2') format('woff2'),
         url('proximanova-reg-webfont.woff') format('woff'),
         url('proximanova-reg-webfont.ttf') format('truetype'),
         url('proximanova-reg-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
