// Germantown Orthodontics
// created 11/05/2015

// Imports
@import 'init';

// Variables (that I'm using in main styles)
// Example:
$fancy_font: 'proxima_novaregular', Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;

}

body {
    padding: 0;
    font-family: $fancy_font;

}

.footer {
    .icon-heart {
        color: red;
        font-weight: 700;
        // LOL
        //text-shadow: 0 2px 0 yellow, -2px 4px 0 green, 2px 4px 2px lime, -4px 8px 2px purple, 4px 8px 2px orange, -6px 12px 2px aqua, 6px 12px 2px brown;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
